/* Guia para los colores a usar durante el proyecto

General: 

Fondos de páginas: #F6F1D1
Fondos de elementos más pequeños: #40798C   si se usa este fondo utilizar #FFFFFF para letras ya que crea mas contrate
Azul oscuro, para letras, titulos, etc: #0B2027
Verde marino, para otros elementro o letras/subtitulos: #70A9A1
Gris ceniza para otros elementos: #CFD7C7


Para tarjetas semanales, colores pastel. Total 5 colores: 

Verde: #D3F8E2
Lila: #E4C1F9
Rosa: #F694C1
Amarillo: #EDE7B1
Azul: #A9DEF9


Para tareas colores más brillantes, determinan el grado de prioridad. 

Rojo: #E40066
Azul: #345995
Amarillo: #EAC435

Fuente texto 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

Conectores para Bootstrap: añadir en head el conector de CSS: 
1.     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

Al final para Javascrip añadir siguiente script para que funcione bootstrap: 

2.     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>



*/ 
